metodo home, aqui accedera el usuario una vez que se logee, 
ahi mostrara informacion y llamara al controlador para usar los metodos
con html mostrar el home y que mande a los metdodos.
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina_home</title>
    <style>

    </style>
</head>
<body>
    <h1>Bienvenido al home de la base de datos</h1><?="" ?>
    <p>Opciones a elegir:</p>
    <a href="insert.php">Insertar nuevo contacto.</a>
    <a href="delete.php">Borrar contacto</a>
    <a href="update.php">Modificar contacto</a>
    <a href="">Logout.</a>
</body>
</html>